<h1>COMP2106 Global Food Market</h1>

<section>
  <h4>Add a Food</h4>
  <fieldset>
    <label class="col-md-2" for="name">Name: *</label>
    <input name="name" id="name" required [(ngModel)]="name" />
  </fieldset>
  <fieldset>
    <label class="col-md-2" for="country">Country: *</label>
    <input name="country" id="country" required [(ngModel)]="country" />
  </fieldset>
  <input name="_id" id="_id" type="hidden" [(ngModel)]="_id" />
  <button class="offset-2 btn btn-primary" (click)="addFood()" *ngIf="!_id">Add</button>
  <button class="offset-2 btn btn-primary" (click)="updateFood()" *ngIf="_id">Update</button>
  <button class="btn btn-primary" (click)="clearForm()">Reset</button>
</section>

<table class="table table-striped table-hover">
  <thead><th>Name</th><th>Country</th><th></th></thead>
  <tr *ngFor="let food of foods">
    <td>{{ food.name }}</td>
    <td>{{ food.country }}</td>
    <td>
      <button class="btn btn-info" (click)="selectFood(food)">Edit</button>
      <button class="btn btn-danger" (click)="deleteFood(food._id)">Delete</button>
    </td>
  </tr>
</table>
